/*여기부터 전체게시물 가져온 CSS*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
    background: #f3f3f3;
}

.text-center {
    text-align: center;
}


.pricing-box {
    background: #3ba4fa url(http://thumbnail.10x10.co.kr/webimage/image/basic600/262/B002626948.jpg?cmd=thumb&w=400&h=400&fit=true&ws=false);
    background-color: #ffffff;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    border-radius: 4px;
    /*flex: 1;*/
    padding: 0 30px 30px;
    margin: 2%;
    min-width: 250px;
    max-width: 350px;
    height: 400px;
}

.pricing-box:hover {
    box-shadow: 0px 10px 30px 0px rgba(200,10,20,0.5);
}

.pricing-box:hover .btn-primary {
    visibility:visible;
}



.allboard-a {
    text-decoration : none;
    color: black;
}



#allboard-title {
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}


.pricing-box h5 {
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    text-transform: uppercase;
}

.price {
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    margin: 24px 0;
    font-size: 36px;
    font-weight: 900;
}

.price sub, .price sup {
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    font-size: 16px;
    font-weight: 100;
}

.features-list {
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    padding: 0;
    list-style-type: none;
}

.features-list li {
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    font-weight: 100;
    padding: 12px 0;
    font-weight: 100;
}

.features-list li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-primary {
    border-radius: 25px;
    border: none;
    background-color: rgba(200,10,20,0.5);
    /*color: #ffffff;*/
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
    visibility: hidden;
}

.btn-primary:hover {
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    transform: translateY(-3px);
    /*color: rgba(200,10,20,0.5);*/
    background-color: rgb(255, 153, 0);
}

.pricing-box-bg-image {
    background-image: url(https://mblogthumb-phinf.pstatic.net/20150819_61/shine_2me_14399475473850DIjc_JPEG/%B9%CC_6.jpg?type=w2);
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.pricing-box-bg-image .features-list li {
    border-bottom-color: rgba(255, 255, 255, 1);
}

.pricing-box-bg-image .btn-primary {
    background-color: #ffffff;
    color: #000;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    /*position: fixed;*/
    left: 0;
    right: 0;
    text-align: center;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3C97BF;
    text-decoration: none;
}

/*여기까지 가져온 전체게시물 CSS*/


.allPostContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 50px;
    background: white;
}







/* 검색 CSS */
.smart-search-container {
    background: white;
    width: 25%;
    height: 6rem;
    text-align: center;
    position: fixed;
    /*left: 0.2rem;*/
    /*top: 18rem;*/
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*display: flex;*/
    justify-content: space-around;
    /*align-items: none;*/
    margin-left: 40px;
    margin-right: -120px;
    margin-top: 100px;
}

.smart-search-box {
    background: white;


}

.smartSearchBox-Table {
    background: white;
    width: 60%;
    text-align: left;
    font-weight: 700;
}


.smart-search-box input {
    background: white;
    width: 100%;
    height: 40px;
    border: 2px solid rgb(255,255,230);
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0px 3px 5px rgb(196, 196, 196);
    margin-bottom: 1rem;
}

.smart-search-box select {
    background: white;
    width: 100%;
    border: 2px solid rgb(255,255,230);
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: 0px 3px 5px rgb(196, 196, 196);
    margin-bottom: 1rem;
}

.smart-search-box option {
    background: white;
    border: 2px solid #6462cb;
    border-radius: 5px;
}

.smart-search-title {
    background: white;
    width: 30%;
    position: absolute;
    background-color: white;
    top: -1.2rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 50px;
    z-index: 2;
    font-weight: 500;
}

.smart-search-title span {
    background: white;
    color: #6462cb;
}

.smart-search-width {
    background: white;
    margin-left: 2rem;
}

.smart-search-button {
    background: white;
    width: 7rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(255,255,230);
    color: black;
    box-shadow: 0px 3px 5px rgb(196, 196, 196);
    cursor: pointer;
}

/* main content */

.main-content {
    background: white;
    width: 75%;
    /*background: orange;*/
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 40rem;

}

/* 전체 게시물 리스트 */
.main-content .pricing-box-container {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    /*background: white center no-repeat;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(https://usercontents-d.styleshare.io/images/23437562/640x-);


}
.main-content .pricing-box-container .pricing-box {
    width: 30%;
}
    /* 페이징 nav */
.main-content nav {
    background: white;
    position: relative;
    width: fit-content;
    left: 30%;
    /*bottom: 0%;*/
    /*transform: translate(-50%, 0);*/
    /*margin-top: 800px;*/

}
