img {
    border: 0;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.detail-container{
    width: 100%;
    height: 1000px;
    margin-bottom: 30px;
}

.detail{
    background: #3ba4fa url(https://i.ibb.co/dkW0tm9/img-1.png) center no-repeat;
    position:absolute;
    margin: -300px 0px 0px -500px;
    top:50%; left:50%;
    /*margin-left: 149px;*/
    /*margin-top: 165px;*/
    width: 981px;
    height: 730px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);

    /*background-color: #E7E7E7;*/
}

.detail .title-contents .row-flex{
    display: flex;
    flex-direction: row;
}

.detail .title-contents{

    width: 907px;
    height: 580px;
    margin-top: 30px;
    margin-left: 37px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px #aaa;
}

.detail .title-contents h1{
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 500px;
}

.detail .title-contents .contents{

    overflow: auto;
    white-space: normal;
    margin-left: 50px;
    /* margin-top: 30px; */
    outline: none;
    border: none;
    resize: none;
    width: 500px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-right: 50px;
    height: 380px;
}

.detail .title-contents .price-box{
    box-sizing: border-box;
    border: none;
    box-shadow: 0 0 8px #aaa;
    width: 250px;
    height: 200px;
    margin-top: -50px;
    /* margin-left: 0px; */
    margin-right: -300px;
    border-radius: 15px;
    /* border: 1px solid #000000;*/


}

.detail .title-contents .price-box .price{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
}

.detail .title-contents .price-box .solve-btn{
    width: 200px;
    height: 50px;
    margin-left: 28px;
    margin-top: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    font-family: 'GangwonEdu_OTFBoldA';
}


.detail .ul-modify-delete{
    display: flex;
    margin-left: 0px;
    margin-top: 250px;

}

.detail .to-list{
    cursor: pointer;
    font-size: 18px;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    border: none;
    font-family: 'GangwonEdu_OTFBoldA';
}
.detail .post-modify{
    cursor: pointer;
    font-size: 18px;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    margin-left: 20px;
    /*text-decoration: underline;*/
    border: none;
    font-family: 'GangwonEdu_OTFBoldA';
}

.detail .post-delete{
    width: 60px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    background-color: #222222;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: 'GangwonEdu_OTFBoldA';
}

.to-list:hover,.post-modify:hover,.post-delete:hover,.solve-btn:hover{
    /*background-color: #3ba4fa;*/
    text-decoration: underline;
    font-weight: 900;
    /*color: black;*/
}

@media screen and (max-width: 767px) {

    #toListBTN {
        width: 300px;
        font-size: 40px;
        margin-bottom: 25px;
        margin-left: 5px;
        margin-top: 25px;
        color: black;
        font-weight: 900;
        cursor: pointer;
        font-family: 'PyeongChangPeace-Bold';
    }


    .header .to-chat {
        position: relative;
        border: none;
        left: -10%;
        top: 25%;
        background-color: rgba(0,0,0,0);
        font-size: 11px;
        cursor: pointer;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    .header .to-login {
        position: relative;
        left: -5%;
        border: none;
        background-color: rgba(0,0,0,0);
        font-size: 20px;
        cursor: pointer;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    .header .to-write {
        position: relative;
        padding: 3px;
        top: 30%;
        left: 0%;
        width: 90px;
        height: 45px;
        border-radius: 10px;
        background-color: rgba(255,234,0);
        color: black;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        border: none;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    * {
        margin: 0;
        padding: 0;
        width: auto;
    }

    body {
        width: auto;
    }

    .header-title {
        width: 300px;
        font-size: 40px;
        margin-bottom: 25px;
        margin-left: 70px;
        margin-top: 25px;
        color: black;
        font-weight: 900;
        cursor: pointer;
        font-family: 'PyeongChangPeace-Bold';
    }

    .header-title img {
        margin-top: -3rem;
        margin-left: 7rem;
    }

    .detail-container {
        all: unset;
        display: block;
        height: 100%;
        margin-bottom: 20px;

}
    .detail {
        all: unset;
        display: block;
        width: 300px;
        height: 480px;
        margin-top: 100px;


    }
    .detail .title-contents .row-flex{
        display: unset;
    }
    .detail .title-contents {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        margin-left: 37px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 8px #aaa;
    }




    .detail .title-contents .contents {
        all: unset;
        display: block;
        margin-left: 20px;
        margin-top: 10px;
        width: 250px;
        height: 280px;
        word-break: break-all;
        margin-bottom: 55px;
        padding-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 20px;
        /* margin-right: 50px;*/
    }

    .detail .title-contents .row-flex2{
        display: flex;
        flex-direction: row;
    }

    .detail .title-contents .price-box {
        width: 150px;
        height: 100px;
        margin-left: 15px;


    }

    .detail .title-contents .price-box .price{
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        padding-top: 20px;
    }

    .detail .title-contents .price-box .solve-btn{
        margin: unset;
        width: 80px;
        height: 30px;
        margin-top: 10px;
        margin-left: 33px;
        font-size: 15px;
        cursor: pointer;
        background-color: #222222;
        color: white;
        border-radius: 10px;
        font-family: 'GangwonEdu_OTFBoldA';
    }


    .detail .ul-modify-delete {
        all: unset;
        display: block;
        margin-top: 10px;
        margin-left: 305px;
    }

    .detail .title-contents h1 {
        margin-left: unset;
        margin-left: 15px;
        padding-top: 10px;
    }


    .detail .to-list{
        all: unset;
        cursor: pointer;
        margin-left: 10px;
        font-size: 15px;
        color: black;
        font-family: 'GangwonEdu_OTFBoldA';
    }
    .detail .post-modify{
        all: unset;
        cursor: pointer;
        margin-left: 10px;
        font-size: 15px;
        color: black;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    .detail .post-delete{
        all: unset;
        cursor: pointer;
        margin-left: 10px;
        font-size: 15px;
        color: black;
        font-family: 'GangwonEdu_OTFBoldA';
    }






}